---
import Analytics from '@vercel/analytics/astro'

import { posts, links } from "../content"

import PostLink from "../components/PostLink.astro";
import Link from "../components/Link.astro"
import Divider from "../components/Divider.astro"
import FlowerDivider from "../components/FloweDivider.astro"

import "../styles/global.css";

---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/png" href="/favicon.png" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<meta name="view-transition" content="same-origin" />
		<meta name="og:title" content='Garden 游뿺' />
		<meta name="og:description" content="Hola, bienvenido a m칤 jard칤n" />
		<meta name="og:image" content="/og-image.png" />
		<meta name="og:url" content="https://grdn.place" />
		<meta name="og:type" content="website" />
		<meta name="og:site_name" content="Mi jard칤n" />
		<meta name="og:locale" content="es_MX" />
		<meta name="og:locale:alternate" content="en_US" />
		<meta name="twitter:card" content="/og-image.png" />
		<meta name="twitter:site" content="@ad_rojo" />
		<meta name="twitter:title" content="Garden" />
		<meta name="twitter:description" content="Visita mi jard칤n " />
		<meta name="twitter:image" content="/og-image.png" />
		<meta name="apple-mobile-web-app-title" content="GRDN" />
		<meta name="apple-mobile-web-app-capable" content="yes" />
		<meta name="apple-mobile-web-app-status-bar-style" content="default" />
		<meta name="theme-color" content="#F1F0E9">
		<link rel="apple-touch-icon" href="icon.png">
	</head>
	<body class="bg-[#F1F0E9] flex justify-center px-4 py-8">
		<main class="flex flex-col gap-8 w-full max-w-5xl">
			<section class="flex flex-col gap-2">
				<h1 class="text-5xl">Hola 游녦</h1>
				<p>Bienvenido a mi p치gina personal. Yo veo esta p치gina como un jard칤n, algo que crece si se cuida manualmente, art칤sticamente 游꿛.</p>
				<p>Podr치s explorar m치s de como cree este espacio en el <a href="/posts/1" class="text-[#E9762B] visited:text-[#834b26] underline md:hover:underline md:no-underline">primer post</a>! 游눘</p>
				
			</section>
			<FlowerDivider />
			<section class="flex flex-col gap-2">
				<h2 class="text-3xl">Posts 游닇</h2>
				<ul class="flex flex-col gap-2">
					{posts.map((text, index) => {
						const urlNumber = posts.length - index
						
						return <PostLink text={text} url={urlNumber} />
					}) }
				</ul>
			</section>
			<Divider />
			<section class="flex flex-col gap-2">
				<h2 class="text-3xl">Links cool 游댨</h2>
				<ul class="flex flex-col gap-2">
					{links.map(({text, url}) => <Link text={text} url={url} />)}
				</ul>
			</section>
		</main>
		<Analytics />
	</body>
</html>
